$accentColor = #006AC6
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc
$badgeTipColor = #006AC6
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961

$contentWidth = 900px

@import './qvars.styl'